@model IEnumerable<DoctorFinal.Models.ItemShow>
@{
    ViewBag.Title = " سامانه پزشکان-خانه ";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section ViewScript
{
    <script>
        $(Load);
        function Load()
        {
            form1.reset();
        }
    </script>
}
<div class="MainDiv">
    <div class="Body">
        @foreach (var item in Model)
        {
            <form id="form1">
                <div class="PostDDiv">
                    <div class="HeaderPostDiv">
                        <img src="@item.PImage" />
                    </div>
                    <div class="BodyPostDiv">
                        <a href="../Home/ReadPost/@item.PID">@item.PTitle</a>
                        <p>@item.PDetile<a href="../Home/ReadPost/@item.PID" style="font-size:14px;cursor:pointer;color:red;">ادامه مطلب...</a></p>
                    </div>
                </div>
            </form>
            
        }
    </div>
</div>
